nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    display:flex;
    flex-direction:row;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: red;
    overflow: hidden;
    box-shadow: 0 2px 8px black;
}

ul li a{
    display: block;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600px;
    letter-spacing: .5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    transition: background-color .3s, color .3s;
}

ul li a:hover{
    background-color:dimgrey;
}
